.header {
    padding-top: 50px;
    margin-bottom: 45px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__site-logo {
    width: 236px;
}



.nav__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}


.nav__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;

    &:hover {
        color: #333D4B;
    }


}

.header__menu {
    display: none;
}




@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2px;
        height: 15px;
    }

    .header__menu-span {
        display: inline-block;
        width: 16px;
        height: 3px;
        background: #333D4B;
        border-radius: 1.5px;
    }


}



@media screen and (max-width: 365px) {
    .header__site-logo {
        width: 135px;
    }
}